*,
::after,
::before{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    cursor: pointer;
}

.header-div{
    max-width: 1400px;
    margin: 0px auto;
}

h1{
    margin: 0px;
    color: white;
}

header{
    background-color: #2E3C54;
    padding: 20px 30px;
}

main{
    display: flex;
    padding: 30px 150px;
}

.calendar-columne{
    padding: 30px;
    padding-top: 50px;
    max-width: 1400px;
    margin: 0px auto;
}

.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-btns{
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.date-year{
    font-size: 30px;
    font-weight: 500;
}

.prev-month,
.next-month{
    font-size: 34px;
}

.next-month:hover{
    color: black;
}

.prev-month:hover{
    color: black;
}

.calendar-days{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}

.calendar-month{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.day-number{
    padding: 10px;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    margin-bottom: -1px;
    margin-left: -1px;
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

.day-padding{
    border: 1px solid #f1f1f1;
    margin-bottom: -1px;
    margin-left: -1px;
    height: 180px;
    background-color: #f1f1f150;
}

.day{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.day-number:hover > .day{
    background-color: #f1f1f1;
}

.calendar{
    margin-top: 70px;
}

.day-active{
    color: white;
    background-color: #2E3C54;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

input{
    border-color: #0000;
    font-size: 18px;
}

input[type="text" i] {
    padding: 0px 10px;
}

input:focus-visible{
    outline: 0px;
}

.popup-back-add,
.popup-back-remove{
    cursor: default;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.300);
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 999;
}

.header-popup-delete{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

button{
    font-weight: 400;
    cursor: pointer;
    font-size: 17px;
    padding: 6px 30px;
    border: none;
    border-radius: 3px;
    margin: 5px;
}

.popup-add{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    margin-top: 10%;
    width: 600px;
}

.header-popup-add{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-title{
    font-size: 18px;
    font-weight: 500;
}

.add-clos-icon,
.add-popup-icon{
    color: black;
    cursor: pointer;
}

.add-inp-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.055);
    border-radius: 3px;
}

.add-input{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    width: 100%;
}

.active-popup{
    display: flex;
}

.input-valide{
    border: 1px solid red;
}

.notvisible{
    display: none;
}

.task-mini{
   font-size: 14px;
   color: white;
   margin: 10px 0px;
   padding: 4px;
   border-radius: 5px;
   word-wrap: break-word;
}

.span-task{
    color: white;
    padding: 5px;
    border-radius: 5px;
}

p{
    text-align: center;
    line-height: 35px;
}

.btn-div{
    display: flex;
    justify-content: center;
}